# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: react-native CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Run tests
        run: |
          npm test --ci

  build-android:
      needs: install-and-test
      runs-on: ubuntu-latest
      steps: 
        - uses: actions/checkout@v2
        - name: Install npm dependencies
          run: |
            npm ci
        - name: Permission Gradle
          run: chmod +x ./android/gradlew
        - name: Build Android Release
          run: |
            cd android && ./gradlew assembleRelease -P MESA_UPLOAD_STORE_PASSWORD='${{ secrets.KEYSTORE_PASSWORD }}' -P MESA_UPLOAD_KEY_PASSWORD='${{ secrets.KEYSTORE_PASSWORD }}'
        - name: Upload Artifact
          uses: actions/upload-artifact@v1
          with:
            name: app-release.apk
            path: android/app/build/outputs/apk/release/

  build-ios:
      needs: install-and-test
      runs-on: [macos-latest]
      steps: 
        - uses: actions/checkout@v2
        - name: Install npm dependencies
          run: |
            npm install
        - name: Install pod dependencies
          run: |
            cd ios && pod install
        - name: Build app
          run: |       
            xcodebuild -workspace ./mesa.xcworkspace -scheme mesa archive -archivePath mesa.xcarchive -allowProvisioningUpdates
            xcodebuild -exportArchive -archivePath ./mesa.xcarchive -exportPath . -exportOptionsPlist mesa/Info.plist
            mv mesa.ipa ../mesa.ipa
        - name: Upload Artifact
          uses: actions/upload-artifact@v1
          with:
            name: MESA.ipa
            path: ios/build/
